In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv('..\data\WA_Fn-UseC_-Telco-Customer-Churn.csv')

In [4]:
type(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

NoneType

In [5]:
df['prezzotot']=df['MonthlyCharges']*df['tenure']
df[['MonthlyCharges','tenure','TotalCharges','prezzotot','Churn']]
# il prezzo totale è divero dal total charges poichè il prezzo dell'abbonamento deve essere variato nel tempo.
# il prezzo dell'abbonamento nel tempo deve essersi alzato poichè, per gli utenti che hanno disdetto,
# il prezzo totale che avrebbero dovuto pagare è apparentemente più basso di ciò che hanno effettivamente pagato

      MonthlyCharges  tenure TotalCharges  prezzotot Churn
0              29.85       1        29.85      29.85    No
1              56.95      34       1889.5    1936.30    No
2              53.85       2       108.15     107.70   Yes
3              42.30      45      1840.75    1903.50    No
4              70.70       2       151.65     141.40   Yes
...              ...     ...          ...        ...   ...
7038           84.80      24       1990.5    2035.20    No
7039          103.20      72       7362.9    7430.40    No
7040           29.60      11       346.45     325.60    No
7041           74.40       4        306.6     297.60   Yes
7042          105.65      66       6844.5    6972.90    No

[7043 rows x 5 columns]

In [6]:
# df['TotalCharges'][480:489].astype(float)
df['TotalCharges'][480:490]

480     225.75
481       2145
482     1671.6
483     8003.8
484     680.05
485    6130.85
486       1415
487    6201.95
488
489      74.35
Name: TotalCharges, dtype: object

In [7]:
df[df['TotalCharges'] == ' '].index

Int64Index([488, 753, 936, 1082, 1340, 3331, 3826, 4380, 5218, 6670, 6754], dtype='int64')

In [8]:
df.shape

(7043, 22)

In [9]:
df=df.drop(df[df['TotalCharges'] == ' '].index)

In [10]:
df.shape

(7032, 22)

In [11]:
df['Churn'] = df['Churn'].factorize()[0]

In [13]:
temp=df.loc[df.Churn == 1]
a=((temp['TotalCharges'].astype(float)>temp['prezzotot']).astype(int)).sum()
b=((df['TotalCharges'].astype(float)>df['prezzotot']).astype(int)).sum()
a,b,a/b
#il 23% delle persone che se ne sono andate paga più del dovuto

(738, 3204, 0.2303370786516854)

In [14]:
a1=((temp['TotalCharges'].astype(float)<temp['prezzotot']).astype(int)).sum()
b1=((df['TotalCharges'].astype(float)<df['prezzotot']).astype(int)).sum()
a1,b1,a1/b1
# no correlazione tra aumento di prezzo e la Churn

(750, 3214, 0.23335407591785937)